У цьому домашньому завданні ми будемо працювати з набором даних Tips. Нижче інформація про нього.

**Про датасет:**

Tips - це датасет, який містить інформацію про рахунки та чайові в ресторані.

**Колонки датасету:**
- `total_bill` - загальна сума рахунку (долари)
- `tip` - розмір чайових (долари)
- `sex` - стать відвідувача (Male/Female)
- `smoker` - чи курить (Yes/No)
- `day` - день тижня (Thur/Fri/Sat/Sun)
- `time` - час відвідування (Lunch/Dinner)
- `size` - розмір групи (кількість людей)

**Джерело:** Оригінальні дані зібрані в одному з американських ресторанів у 1990-х роках. Скачати і переглянути набір даних можна тут: https://www.kaggle.com/datasets/sakshisatre/tips-dataset

А також ми вже вивантажили файл з даними і завантажили вам у Матеріали до цього модуля.




**1. Завантаження та огляд**

Завантажте датасет Tips (Чайові) з файла у матеріалах `tips.csv`.

Виведіть (кожен пункт оцінюється в 0.5 бала):
- Перші 5 рядків
- Розмір датасету (shape)
- Назви всіх колонок
- Інформацію про типи даних (info)

In [72]:
import pandas as pd

df = pd.read_csv('./tip.csv')

In [73]:
print('1. Перші 5 рядків:')
display(df.head())
print()

print('2. Розмір датасету (shape):')
display(df.shape)
print()

print('3. Назви всіх колонок:')
display(df.columns)
print()

print('4. Інформацію про типи даних (info):')
display(df.info())
print()

1. Перші 5 рядків:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

2. Розмір датасету (shape):

(244, 7)

3. Назви всіх колонок:

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

4. Інформацію про типи даних (info):
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

None

**2. Базова вибірка даних**

Виберіть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Колонку `total_bill` (загальний рахунок)
- Колонки `total_bill` та `tip` (чайові) разом
- Перші 10 рядків
- Рядок з індексом 5

In [74]:
print("1. Колонка `total_bill` (загальний рахунок):")
display(df['total_bill'])
print()

print("2. Колонки `total_bill` та `tip` (чайові) разом")
display(df[['total_bill', 'tip']])
print()

# - Перші 10 рядків
print("3. Перші 10 рядків:")
display(df.iloc[0:10])
print()

# - Рядок з індексом 5
print("Рядок з індексом 5:")
display(df.iloc[5])
print()

1. Колонка `total_bill` (загальний рахунок):

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

2. Колонки `total_bill` та `tip` (чайові) разом

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

3. Перші 10 рядків:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

Рядок з індексом 5:

total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object

**3. Фільтрація даних**

Відфільтруйте повний набір даних та виведіть (кожен пункт оцінюється в 0.5 бала):
- Всі рахунки більше 20 доларів (`total_bill > 20`)
- Всі відвідувачі-жінки (`sex == 'Female'`)
- Рахунки на вечерю (`time == 'Dinner'`)
- Рахунки на вечерю з сумою чеку більше 30 доларів

Для виведення результатів фільтрації:
- зберегти результат у окрему змінну
- показати кількість записів у відфільтрованому наборі
- вивести перші 5 записів відфільтрованого набору.

In [75]:
def display_filter_result(title_message: str, df_param: pd.core.frame.DataFrame):
    print(title_message.upper())
    print(f'Кількість записів у відфільтрованому наборі: {df_param.size}')
    display(df_param.head())
    print()


# - Всі рахунки більше 20 доларів (`total_bill > 20`)
all_bills_higher_than_20 = df[(df['total_bill'] > 20)]
display_filter_result('1. Всі рахунки більше 20 доларів', all_bills_higher_than_20)

# - Всі відвідувачі-жінки (`sex == 'Female'`)
all_female_visitors = df[(df['sex'] == 'Female')]
display_filter_result('2. Всі відвідувачі-жінки', all_female_visitors)

# - Рахунки на вечерю (`time == 'Dinner'`)
all_dinner_bills = df[(df['time'] == 'Dinner')]
display_filter_result('3. Рахунки на вечерю', all_dinner_bills)

# - Рахунки на вечерю з сумою чеку більше 30 доларів
all_dinner_bills_higher_than_30 = df[(df.time == 'Dinner') & (df.total_bill > 30 )]
display_filter_result('4. Рахунки на вечерю з сумою чеку більше 30 доларів', all_dinner_bills_higher_than_30)

1. ВСІ РАХУНКИ БІЛЬШЕ 20 ДОЛАРІВ
Кількість записів у відфільтрованому наборі: 679

   total_bill   tip     sex smoker  day    time  size
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
7       26.88  3.12    Male     No  Sun  Dinner     4

2. ВСІ ВІДВІДУВАЧІ-ЖІНКИ
Кількість записів у відфільтрованому наборі: 609

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3

3. РАХУНКИ НА ВЕЧЕРЮ
Кількість записів у відфільтрованому наборі: 1232

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

4. РАХУНКИ НА ВЕЧЕРЮ З СУМОЮ ЧЕКУ БІЛЬШЕ 30 ДОЛАРІВ
Кількість записів у відфільтрованому наборі: 189

    total_bill   tip     sex smoker  day    time  size
11       35.26  5.00  Female     No  Sun  Dinner     4
23       39.42  7.58    Male     No  Sat  Dinner     4
39       31.27  5.00    Male     No  Sat  Dinner     3
44       30.40  5.60    Male     No  Sun  Dinner     4
47       32.40  6.00    Male     No  Sun  Dinner     4

---

**4. Описова статистика**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній розмір рахунку на всьому наборі даних
- Максимальні чайові
- Кількість пропущених значень у всіх колонках
- Скільки в наборі даних рахунків за обіди і за вечері

In [76]:
# - Середній розмір рахунку на всьому наборі даних
mean_tip = df['tip'].mean()
print(f'1. Середній розмір рахунку на всьому наборі даних: {mean_tip:.2f} (non-formatted: {mean_tip})')
print()

# - Максимальні чайові
max_tip = df.tip.max()
print(f'2. Максимальні чайові: {max_tip:.2f} (non-formatted: {max_tip})')
print()

# - Кількість пропущених значень у всіх колонках
print(f'3. Кількість пропущених значень у всіх колонках:')
display(df.isnull().sum())
print()

# - Скільки в наборі даних рахунків за обіди і за вечері
df['is_dinner'] = (df['time'] == 'Dinner').astype(int)
df['is_lunch'] = (df['time'] == 'Lunch').astype(int)

print('4. В наборі даних рахунків:')
print(f' - за обіди: {df.is_lunch.sum()}')
print(f' - за вечері: {df.is_dinner.sum()}')
print(f' - за обіди і за вечері: {df.is_lunch.sum() + df.is_dinner.sum()}')

1. Середній розмір рахунку на всьому наборі даних: 3.00 (non-formatted: 2.99827868852459)

2. Максимальні чайові: 10.00 (non-formatted: 10.0)

3. Кількість пропущених значень у всіх колонках:

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

4. В наборі даних рахунків:
 - за обіди: 68
 - за вечері: 176
 - за обіди і за вечері: 244

---

**5. Статистика із групуванням**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній рахунок за статтю (groupby `sex`)
- Середні чайові за днем тижня (groupby `day`)
- Скільки відвідувачів у кожен день

In [77]:
# - Середній рахунок за статтю (groupby `sex`)
mean_by_sex = df.groupby('sex')['total_bill'].mean()
print('1. Середній рахунок за статтю:')
display(mean_by_sex.round(2))
print()

# - Середні чайові за днем тижня (groupby `day`)
mean_tips_by_day = df.groupby('day')['tip'].mean()
print('2. Середні чайові за днем тижня:')
display(mean_tips_by_day.round(2))
print()

# - Скільки відвідувачів у кожен день
visitor_stats_by_day = df.groupby('day').agg({
    'size': ['count', 'sum']
})
print('3. Скільки відвідувачів у кожен день (платники і загальна кількість):')
display(visitor_stats_by_day)
print()

1. Середній рахунок за статтю:

sex
Female    18.06
Male      20.74
Name: total_bill, dtype: float64

2. Середні чайові за днем тижня:

day
Fri     2.73
Sat     2.99
Sun     3.26
Thur    2.77
Name: tip, dtype: float64

3. Скільки відвідувачів у кожен день (платники і загальна кількість):

      size
     count  sum
day
Fri     19   40
Sat     87  219
Sun     76  216
Thur    62  152

---

**6. Створення нової колонки**

Створіть нову колонку `tip_percentage` - відсоток чайових від загальної суми рахунку.
Виведіть перші 10 рядків з новою колонкою.

In [78]:
df['tip_percentage'] = df['tip'] / df['total_bill'] * 100
print('Відсоток чайових від загальної суми рахунку:')
display(df['tip_percentage'].round(2).head(10))

Відсоток чайових від загальної суми рахунку:

0     5.94
1    16.05
2    16.66
3    13.98
4    14.68
5    18.62
6    22.81
7    11.61
8    13.03
9    21.85
Name: tip_percentage, dtype: float64

---

**7. Сортування**

Відсортуйте датасет і виведіть результат сортування в кожному випадку окремо (кожен пункт оцінюється в 0.5 бала):
- За розміром рахунку (зростання)
- За чайовими (спадання)

Додатково виведіть топ-5 найбільших чайових використовуючи метод `nlargest`.

In [79]:
# - За розміром рахунку (зростання)
df_sorted_by_total_bill_asc = df.sort_values('total_bill')
print('1. За розміром рахунку (зростання)'.upper())
display(df_sorted_by_total_bill_asc)
print()

# - За чайовими (спадання)
df_sorted_by_tips_desc = df.sort_values('tip', ascending=False)
print('2. За чайовими (спадання)'.upper())
display(df_sorted_by_tips_desc)
print()

# - топ-5 найбільших чайових використовуючи метод `nlargest`.
top_tips = df.nlargest(5, 'tip')
print('3. топ-5 найбільших чайових використовуючи метод `nlargest`'.upper())
display(top_tips)
print()

1. ЗА РОЗМІРОМ РАХУНКУ (ЗРОСТАННЯ)

,total_bill,tip,sex,smoker,day,time,size,is_dinner,is_lunch,tip_percentage
67,3.07,1.00,Female,Yes,Sat,Dinner,1,1,0,32.573290
92,5.75,1.00,Female,Yes,Fri,Dinner,2,1,0,17.391304
111,7.25,1.00,Female,No,Sat,Dinner,1,1,0,13.793103
172,7.25,5.15,Male,Yes,Sun,Dinner,2,1,0,71.034483
149,7.51,2.00,Male,No,Thur,Lunch,2,0,1,26.631158
...,...,...,...,...,...,...,...,...,...,...
182,45.35,3.50,Male,Yes,Sun,Dinner,3,1,0,7.717751
156,48.17,5.00,Male,No,Sun,Dinner,6,1,0,10.379905
59,48.27,6.73,Male,No,Sat,Dinner,4,1,0,13.942407
212,48.33,9.00,Male,No,Sat,Dinner,4,1,0,18.621974
170,50.81,10.00,Male,Yes,Sat,Dinner,3,1,0,19.681165

2. ЗА ЧАЙОВИМИ (СПАДАННЯ)

,total_bill,tip,sex,smoker,day,time,size,is_dinner,is_lunch,tip_percentage
170,50.81,10.00,Male,Yes,Sat,Dinner,3,1,0,19.681165
212,48.33,9.00,Male,No,Sat,Dinner,4,1,0,18.621974
23,39.42,7.58,Male,No,Sat,Dinner,4,1,0,19.228818
59,48.27,6.73,Male,No,Sat,Dinner,4,1,0,13.942407
141,34.30,6.70,Male,No,Thur,Lunch,6,0,1,19.533528
...,...,...,...,...,...,...,...,...,...,...
0,16.99,1.01,Female,No,Sun,Dinner,2,1,0,5.944673
111,7.25,1.00,Female,No,Sat,Dinner,1,1,0,13.793103
92,5.75,1.00,Female,Yes,Fri,Dinner,2,1,0,17.391304
67,3.07,1.00,Female,Yes,Sat,Dinner,1,1,0,32.573290
236,12.60,1.00,Male,Yes,Sat,Dinner,2,1,0,7.936508

3. ТОП-5 НАЙБІЛЬШИХ ЧАЙОВИХ ВИКОРИСТОВУЮЧИ МЕТОД `NLARGEST`

,total_bill,tip,sex,smoker,day,time,size,is_dinner,is_lunch,tip_percentage
170,50.81,10.00,Male,Yes,Sat,Dinner,3,1,0,19.681165
212,48.33,9.00,Male,No,Sat,Dinner,4,1,0,18.621974
23,39.42,7.58,Male,No,Sat,Dinner,4,1,0,19.228818
59,48.27,6.73,Male,No,Sat,Dinner,4,1,0,13.942407
141,34.30,6.70,Male,No,Thur,Lunch,6,0,1,19.533528